<div class="page-header">
  <h1>{{titulo}}</h1>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Código da Venda</th>
        <th>Modelo da moto:</th>
        <th>Nome do cliente:</th>
        <th>CPF do cliente:</th>
        <th>Telefone do cliente</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venda of vendas">
        <td>{{venda.codigo}}</td>
        <td>{{venda.moto.modelo}}</td>
        <td>{{venda.nomeCliente}}</td>
        <td>{{venda.cpfCliente}}</td>
        <td>{{venda.telefoneCliente}}</td>
        <td>
            <button class="btn btn-info btn-sm" data-title="Edit" [routerLink]="['/edicao-vendas', venda.codigo]">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" data-title="Delete" routerLink="/relatorio-vendas" (click)="remover(venda)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
      </tr>
    </tbody>
  </table>

  <option *ngFor="let m of motos" [ngValue]="m">
    {{m.modelo}}
  </option>
</div>